@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
.table {
      background-color: #2EAFA5;
      text-align: center;
      border: solid;
      font-family: 'Oswald', sans-serif;

}
