@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap');


.buddy-detail {
  height: 100vh;
  padding: 25px;
  text-align: center;
}

.buddy-detail h1 {
  color: black;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.buddy-detail button {
  margin-top: 10px;
  background-color: #e75481;
  border: none;
}

.subs{
  font-family:'Oswald', sans-serif;
}

.info {
  font-family: 'Poppins',  sans-serif;
}
