@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap');

h1{
      font-family: 'Oswald', sans-serif;
}
/* .message-form{
padding-top: 100px;
} */

.mensaje-submit {
      background-color: #e75481 !important;
      border: none;
}

.comment{
      font-family: 'Poppins', sans-serif;
}