@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap');

.mybuddies{
      height: 100vh;
      padding: 25px;
      text-align: center;
    }
    
    .mybuddies h1 {
      font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 2rem;
    }
    
    .mybuddiesbutton{
      margin-top: 10px;
      background-color: #e75481 !important;
      border: none !important;
      font-family: 'Poppins', sans-serif;
    }
    
    .avatar{
      height:70px;
    }

    .username {
      list-style-type: none;
      color: #2eafa5;
      font-family: 'Poppins', sans-serif;

    }