@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap');


.list{
      list-style-type: none;
      color:  #2eafa5;
}

.my-buddies-list{
      height: 100vh;
      padding: 25px;
      text-align: center;
    }

.delete {
      text-align: center;
     background-color: #e75481 !important;
      border: none  !important;

}


.my-buddies-list h1 {
      font-family: 'Oswald', sans-serif;
      color: black;
      text-align: center;
    }

.grid {
      display: flexbox;
      flex-direction: column;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: center;
	align-content: stretch;
}