@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap');

.sign-up-page {
text-align: center;
  height: 100vh;
  padding-top: 150px; 
}

.sign-up-page .title {
  
  color: black;
  font-size: 3rem;
font-family: 'Oswald',  sans-serif;
}


.signup-button {
      margin-top: 50px;
      background-color: #000 !important;
      border: none !important ;
      font-family: 'Poppins', sans-serif;
    }

.login {
      color: #2eafa5;
      /* margin: 0; */
}

.call {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.labels {
  margin-top:5px;
  font-family: 'Oswald', sans-serif;
}
.inpoot{
  font-family: 'Poppins', sans-serif;
}