html, body {
  margin: 0;
  padding: 0;
 
  --stripe: #ffdb83;
  --bg: #ffdb83;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
}

.App {
  padding: 20px;
}

nav.navbar { 
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  background: #ffdb83; 
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.container {
  padding: 0 !important;
}